.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #1e1e1e;
    width: 90%;
    max-width: 400px;
    padding: 24px;
    border-radius: 24px;
    color: white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    color: #888;
    cursor: pointer;
}

.input-group {
    margin-bottom: 20px;
}

    .input-group label {
        display: block;
        color: #888;
        margin-bottom: 8px;
        font-size: 14px;
    }

.dark-input {
    background: #2a2a2a;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    color: white;
    outline: none;
}

.btn-save {
    width: 100%;
    background: white;
    color: black;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.archive-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
