@using FinancialTracker.Web.Models

@if (IsVisible)
{
    <div class="modal-backdrop" @onclick="Close">
        <div class="modal-window" @onclick:stopPropagation>
            <div class="modal-header">
                <h2 class="modal-title">Редагувати гаманець</h2>
                <span class="modal-cancel" @onclick="Close">Скасувати</span>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <label>Назва гаманця</label>
                    <input type="text"
                           placeholder="Змінити назву гаманця"
                           @bind="Wallet.Name"
                           @bind:event="oninput"
                           class="dark-input" />
                </div>

                <div class="input-group">
                    <label>Оберіть валюту</label>
                    <select @bind="Wallet.CurrencyCode" class="dark-input custom-select-big">
                        <option value="UAH">₴ Українська гривня</option>
                        <option value="USD">$ Долар США</option>
                        <option value="EUR">€ Євро</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <label>Тип гаманця</label>
                <select @bind="Wallet.Type" class="dark-input custom-select-big">
                    <option value="карта">💳 Картка</option>
                    <option value="готівка">💵 Готівка</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn-save-main" @onclick="HandleSave">Зберегти</button>
                <button class="btn-delete-outline" @onclick="HandleDelete" @onclick:stopPropagation>Видалити</button>
            </div>
        </div>
    </div>
}



@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public WalletDto Wallet { get; set; } = new();
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<WalletDto> OnSave { get; set; }
    [Parameter] public EventCallback<Guid> OnDelete { get; set; }

    private async Task Close() => await OnClose.InvokeAsync();

    private async Task HandleSave()
    {
        if (string.IsNullOrEmpty(Wallet.Type))
        {
            Wallet.Type = "карта";
        }

        if (!string.IsNullOrWhiteSpace(Wallet.Name))
        {
            await OnSave.InvokeAsync(Wallet);
        }
    }

    private async Task HandleDelete()
    {
        await OnDelete.InvokeAsync(Wallet.Id);
    }
}